.message {
    font-family: "tahoma";
    font-size: 12px;
    margin-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
}

.usermessage {
    font-family: "tahoma";
    font-size: 12px;
    margin-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    padding-bottom: 5px;
}

.text {
    border-radius: 20px;
    background: #dcdcdc;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 225px;
    height: 100%;
    position: left;
    margin-left: 5px;
    margin-right: 5px;
    align-self: flex-end;
}

.mytext {
    border-radius: 20px;
    background: #FFD7F6;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 225px;
    height: 100%;
    position: left;
    margin-left: 5px;
    margin-right: 5px;
    align-self: flex-end;
}

.name {
    margin-left: 20px;
    padding-bottom: 1px;
    align-self: flex-start;
    justify-content: flex-start;
    font-size: 10px;
    color: dimgray;
}

.kiminonawa {
    text-align: right;
    margin-right: 20px;
    padding-bottom: 1px;
    font-size: 10px;
    color: #c796bc;
}

img {
    width: 30px;
    height: 30px;
    align-self: flex-end;
}