.Videos {
    width: 60vw;
    height: 60vh;
}

.video_item {
    font-family: "Muli";
    margin-left: 10%;
    margin-right: 10%;
    background-color: #EBEBEB;
    padding: 1.5%;
    width: 30vw;
    height: 35vh;
}

.Messages {
    font-family: "Muli";
    background-color: #FAFAFA;
    padding: 1.5%;
    width: 20vw;
    height: 76.5vh;
}